@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bellefair&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bellefair&family=Kelly+Slab&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bellefair&family=Kelly+Slab&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Tilt+Warp&family=Timmana&display=swap');

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);

    }
}

@keyframes profile-pic {
    0% {
        border-color: #810357;
    }
    25% {
        border-color: #0000ff;
    }
    75% {
        border-color: #068781;
    }
    100% {
        border-color: #2e2e97;
    }
}
/* ------------------------------------------------- Basic CSS ----------------------------------------------------- */
:root {
    --background-color: #575977;
    --header-color1: #595a6d;
    --header-color2: #2e368e8f;
    --select-color1: #d1cbcb85;
    --select-color2: transparent;
    --select-color3: #d1cbcb60;
    --select-color4: #2b2b99c0;
    --select-color5: #9b9898c7;
    --select-color6: #0000ff46;
    --select-color7: #faf0e6;
    --select-color8: #322c32dd;
}

* , ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    background: var(--background-color);
    color: var(--select-color7)
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 4px;
}


header {
    max-width: 80vw;
    height: 160px;
    background: linear-gradient(var(--header-color1) 55%, var(--header-color2));
    align-items: center;
    margin: 0px auto;
    position: sticky;
    top: 0;
}

header .nt-logo{
    grid-column: 2;
    animation: fade-down 1.5s;
    width: 100px;
    height: 60px;
    border-radius: 10px;
}

header h1 {
    grid-column: 3 / span 2;
    animation: fade-down 1.5s;
    position: relative;
    top: 20px;
    color: #090969;
}

header nav {
    grid-column: 6 / span 6;
    justify-self: right;
    animation: fade-down 1.5s;
}

header nav a {
    text-decoration: none;
    color: #181212;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bolder;
}

header nav a:hover {
    color: #0844f8;
    font-size: x-large;
}

main {
    margin: 0 auto;
    max-width: 80vw;
    background: transparent;
}

main img {
    grid-column: 3 / span 2;
    border: 4px solid #f5deb3;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
    animation: profile-pic 5s infinite;
    
}

main .welcome {
    grid-column: 6 / span 5;
    text-align: center;
    color: rgb(29, 27, 27);
    font-size: 15px;
}


main h2 {
    color: #101110da;
    font-size: 3rem;
}

main .greeting {
    font-size: 50px;
    color: #0011ff;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

main .hello {
    font-size: 30px;
    color: #ff0000;
    font-family: "Merriweather", serif;
    font-style: italic;
}

main .name {
    font-size: 20px;
    color: #266c7c;
    font-family: "Timmana", sans-serif;
}

main .role {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-style: italic;
}

main .education {
    font-size: 20px;
    color: #b52828;
    font-family: "Bellefair", serif;
    font-weight: bolder;
}

main .bootcamp {
    font-size: 25px;
    color: #0c1ddc;
    font-family: "Timmana", sans-serif;
}

main .style {
    font-size: 20px;
    color: #1e85a4;
    font-family: "Kelly Slab", sans-serif;
}

main h4 {
    font-size: 0.5rem;
}

#about-me {
    grid-column: 12 span;
    height: 75.5vh;
    background-color: var(--select-color1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-bottom: 200px;
}

#about-me a {
    text-decoration: none;
    color: #faf0e6;
    font-size: 20px;
}

#about-me a:hover {
    color: var(--select-color6);
}
section h3 {
    font-size: 30px;
}

#skills {
    grid-column: 1 / span 12;
    text-align: center;
    height: 50vh;
    background-color: var(--select-color1);
    margin-bottom: 90px;
    border-radius: 10px;
}

.segment p {
    margin-top: 0px;
}

.roll-container {
    display: flex;
    background-color: transparent;
    height: 380px;
    padding: 90px 0 0;
}

.roll {
    width: 100%;
    height: 60%;
    display: flex;
    overflow-x: scroll;
}

.roll::-webkit-scrollbar {
    display: none;
}

.roll .segment {
    width: 100%;
    height: 100%;
    
    background-color: var(--select-color5);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.roll .segment {
    text-align: center;
    padding-top: 100px;
    filter: blur(100%);
    transition: transform 0.5s;
}

.roll .segment div:hover {
    filter: blur(0);
    color: var(--select-color4);
    font-size: 50px;
    background: linear-gradient(var(--select-color5) 60%, var(--header-color2));
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.1);
}

article h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

main .card {
    text-align: center; 
    height: 95vh;
    grid-column: span 4;
    overflow: hidden;
    margin-top: 100px;
    background: var(--select-color2);
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.quiz {
    background: #8e6c6c;
}

#contact {
    grid-column: span 12;
    font-size: 1.5rem;
    height: 20vh;
    box-sizing: border-box;
    background: var(--select-color2);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 100px;
    margin-top: 100px;
}

.inquiry {
    width: 50px;
    height: 50px;
    background: var(--select-color2);
    grid-column: 2 / span 4;
}

.send {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background: var(--select-color2);
    grid-column: 11 / span 4;
}

.send:hover {
    background-color: var(--select-color6);
}

footer {
    margin: 0 auto;
    grid-column-start: 2;
    max-width: 80vw;
    background-color: var(--select-color1);
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-content: center;
}

footer a {
    text-decoration: none;
    color: var(--select-color7);
    font-size: 20px;
}

footer span {
    margin-right: 10px;
}

footer a:hover {
    color: var(--select-color6);
}

.author {
    grid-column: 3 / span 4;
    font-size: 11px;
}

.author-name {
    font-family:'Courier New', Courier, monospace;
}

.author-name a:hover {
    background-color: #306203;
}

.publish-date {
    color: var(--select-color8);
} 

.vl {
    grid-column-start: 7;
    border-left: 6px solid var(--select-color3);
    width: 10px;
    height: 100%;
    border-radius: 2px;
}

.links {
    grid-column: 10 / span 2;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1400px) {
    header, main, footer {
        max-width: 100vw;
    }
}


@media screen and (max-width: 1000px) {
    header, main, footer {
        max-width: 100vw;
    }

    header .nt-logo {
        height: 50px;
    }

    header h1 {
        top: 0;
    }
    main img {
        grid-column: 4 / span 10;
        margin-left: 25px;
        width: 50vw;
        height: 50vw;
    }

    main .welcome {
        grid-column: 2 / span 10;
        text-align: center;
    }

    main .card {
        grid-column: 2 / span 10;
        text-align: center;
    }

    #contact {
        margin-top: 0;
    }

    .send {
        grid-column: 10 / span 4;
    }
}

@media screen and (max-width: 550px) {
    header {
        padding: 20px 0px;
    }

    header h1 {
        top: 5px;
        grid-column: 11;
        text-align: center;
        margin: 0;
    }

    header nav {
        grid-column: span 12;
        justify-self: center;
    }

    main img {
        grid-column: 5 / span 3;
        width: 30vw;
        height: 30vw;
    }

    main .welcome {
        grid-column: span 12;
    }

    #about-me .links {
        flex-direction: row;
    }

    main .card {
        grid-column: span 12;
    }

    #contact {
        grid-column: span 12;
        height: 80vh;
        margin-top: 0;
    }

    .send {
        grid-column: 10 / span 2;
    }

    .links {
        flex-direction: column;
        justify-content: space-around;
    }
}
